
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*a{
    text-decoration: none;
    color: black;
    display: block;

}


body{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    background-color: darkgrey;
    
}

.box{
    border: 1px white solid;
    background-color: white;
    border-radius: 1em;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    padding: 1em;
}
.image img{
    border-radius: 0.5em;
}

.title1{
    width: 100%;
    max-width: 18rem;
    font-size: 1.3rem;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.p1{
    width: 100%;
    max-width: 20rem;
    font-size: 1.0rem;
    margin: 0 auto;
    padding: 1.5em;
    text-align: center;
}
